
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Bold.ttf');
  font-weight: 700;
}

body {
  font-family: 'Quicksand';
  font-weight: 400;
  text-align: center;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 400;
}

p {
  font-size: 24px;
  font-weight: 500;
}

button {
  font-family: 'Quicksand';
  font-weight: 600;
  padding: 12px;
  margin: 10px;
}
